@import url('https://fonts.googleapis.com /css?family=Montserrat:400, 500, 600, 700, 800, 900&display=swap');
@import url('https://fonts.googleapis.com/css? family=Caveat+Brush|Caveat:400,700&display=swap&subset=cyrillic,cyrillic-ext');

* {
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;    
}

header,
menu,
main,
footer {
    width: 1024px;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}

header {
    height: 290px;
    position: relative;
    background: url(../img/sc3.jpg);
    background-size: cover;
}

menu {
    width: 1024px;
    height: 100px;
    background-color: #F0F8FF;
    font-size: 60px;
}

main {
    width: 1024px;
    background-color: #F0F8FF;
    font-size: 24px;
}
main img {
    float: left;
    padding: 20px;
}
.head-text {
    padding: 100px 80px;
    font-family: Montserrat;
    font-size: 2em;
}
main .sc {
    font-style: italic;
}
main p {
    padding: 50px 10px;
    font-family: Caveat;
    font-style: italic;
    font-size: 1.4em;
}
footer {
    position: relative;
    height: 60px;
    font-size: 20px;
    background-color: #F0F8FF;
}

footer p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 20%;
}

.footer-author {
    position: relative;
    margin-left: 140px;
}

.hr-menu {
    padding-top: 12px;
}

ul li {
    display: inline;
    margin-left: 20px;
    background-color: #B0C4DE;
    box-shadow: 5px 5px #4682B4	;
    font-size: 50px;
    border-radius: 20px;
    padding: 10px 20px;
}

ul li:hover {
    color:#B0C4DE;
    background-color: #F0F8FF;
    box-shadow: 0px 10px #4682B4;
}

a {
    text-decoration: none;
}
